/* fluid Page */

html,body {
    width: 100%;
    height: 100%;
}
/* index page styles */
.background-div {
    width:100%;
    height: 100%;
    background-image: url('../images/photographer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text {
    position: absolute;
    top: 30%;
    left: 20%;
    color:#fff;
    font-size: 35px;
}